@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline {
        -webkit-text-stroke: initial;

      -webkit-text-stroke: 4px #0000FF;

    }
  }
.prose{
  max-width: max-content!important;
}